body{
    background-color: #A3D9BA;
}
h1{
    text-align: center;
    color: aliceblue;
    background-color: #4A8C67;
    border: dotted 3px aliceblue
}
h2{
    color: aliceblue;
    background-color: #BFADA3

}
p{
    font-family: 'Merriweather', serif;
    color:#4A8C67
}