.container {
    width: 700px;
    height: 700px;
    border: solid 2px blue;
    display: grid;
    /* grid-template-columns: 50px 100px 50px 100px; */
    /* grid-template-columns: 50px; */
    grid-template-areas:
        'item1 item1 item1 item1'
        'item2 item2 item2 item3'
        'item4 item5 item5 item5'
        'item6 item6 item6 item6';
}
.item1 {
    grid-area: item1;
    background-color: rgb(0, 59, 186);
}
.item2 {
    grid-area: item2;
    background-color: rgb(0, 176, 251);
}
.item3 {
    grid-area: item3;
    background-color: rgb(80, 220, 248);
}
.item4 {
    grid-area: item4;
    background-color: rgb(163, 234, 255);
}
.item5 {
    grid-area: item5;
    background-color: rgb(124, 166, 203);
}
.item6 {
    grid-area:item6;
    background-color: rgb(41, 107, 145);
}
